import { usePresenter } from './presenter'

const <%= createBlockPath.split("/").pop() %> = () => {
  // const presenter = usePresenter()
  // const { model } = presenter
  return <div>react mvp</div>
}

export default <%= createBlockPath.split("/").pop() %>
